/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* REGOLE GENERALI */
body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15%;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.col {
  float: left;
}

.text {
  color: #33475a;
  font-size: 16px;
  line-height: 30px;
}

.button {
  background-color: #ff7a59;
  color: white;
  border-radius: 3px;
  padding: 20px 25px;
}

/* FINE REGOLE GENERALI */

/* HEADER */
/* Navigation */
header {
  position: relative;
}

header nav {
  background-color: #f5f8fa;
  padding: 25px 0;
  border-bottom: 1px solid #33475a;
}

header nav .container .col {
  width: 50%;
}

header nav .container ul li {
  display: inline-block;
  padding: 0 15px;
}

header nav .container .col.col-language ul li:first-child {
  border-right: 1px solid #33475a;
}

header nav .container .col.col-language i {
  color: #33475a;
}

header nav .container .col.col-login {
  text-align: right;
}

header nav .container .col.col-login .fas {
  color: #00a4bd;
}

header nav .container .col.col-login ul li:nth-child(2) a {
  color: #ff7a59;
  background-color: white;
}

header nav .container .col.col-login a.button {
  padding: 7px 10px;
  border: 1px solid #ff7a59;
}
/* Fine Navigation */

/* Menu */
header .menu {
  background-color: white;
  padding: 25px 0;
}

header .menu .container .col {
  line-height: 10px;
  width: 50%;
}

header .menu .container .col:last-child {
  text-align: right;
}

header .menu .container .col ul li {
  display: inline-block;
}

header .menu .container .col ul li a,
header .menu .container .col ul li a i {
  padding: 0 10px;
}
/* Fine Menu */

/* Inizio Teaser */
header .teaser {
  background-image: url(../img/jumbotron.png);
  height: 690px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-color: #fef3ee;
}

header .teaser .container {
  width: 70%;
  padding-top: 50px;
}

header .teaser .container h1 {
  font-size: 50px;
  color: #33475a;
}

header .teaser .container .text {
  margin: 35px 0;
}
/* Fine Teaser */

/* Inizio Divisione */
header .division {
  background-color: #9be6dd;
  border-bottom: 3px solid #33475a;
  border-top: 3px solid #33475a;
  width: 100%;
  height: 83px;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* Fine Divisione */
/* FINE HEADER */
