/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* REGOLE GENERALI */
body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff7a59;
}

main h2 {
  color: #33475a;
  font-size: 35px;
  margin-bottom: 35px;
}

main .title {
  color: #33475a;
  font-size: 25px;
  margin-bottom: 25px;
}

main .subtitle {
  text-transform: uppercase;
  color: #33475a
}

main .number {
  font-size: 30px;
  font-weight: 650;
  text-transform: uppercase;
}

main .fa-check-circle {
  color: #ff7a59;
}

footer a.text:hover {
  color: white;
}

.container {
  width: 100%;
  padding: 0 15%;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.col {
  float: left;
}

.text {
  color: #33475a;
  font-size: 16px;
  line-height: 30px;
}

.button {
  background-color: #ff7a59;
  color: white;
  border-radius: 3px;
  padding: 20px 25px;
}

.button:hover {
  background-color: white;
  color: #ff7a59;
  border: 1px solid #ff7a59;
}

/* FINE REGOLE GENERALI */

/* HEADER */
/* Navigation */
header {
  position: relative;
}

header nav {
  background-color: #f5f8fa;
  padding: 25px 0;
  border-bottom: 1px solid #33475a;
}

header nav .container .col {
  width: 50%;
}

header nav .container ul li {
  display: inline-block;
  padding: 0 15px;
}

header nav .container .col.col-language ul li:first-child {
  border-right: 1px solid #33475a;
}

header nav .container .col.col-language i.fa-globe-europe {
  color: #33475a;
}

header nav .container .col.col-login {
  text-align: right;
}

header nav .container .col.col-login .fas {
  color: #00a4bd;
}

header nav .container .col.col-login ul li:nth-child(2) a {
  color: #ff7a59;
  background-color: white;
}

header nav .container .col.col-login ul li:nth-child(2) a:hover {
  color: white;
  background-color: #ff7a59;
}

header nav .container .col.col-login a.button {
  padding: 7px 10px;
  border: 1px solid #ff7a59;
}
/* Fine Navigation */

/* Menu */
header .menu {
  background-color: white;
  padding: 25px 0;
}

header .menu .container .col {
  line-height: 10px;
  width: 50%;
}

header .menu .container .col:last-child {
  text-align: right;
}

header .menu .container .col ul li {
  display: inline-block;
}

header .menu .container .col ul li a,
header .menu .container .col ul li a i {
  padding: 0 10px;
}
/* Fine Menu */

/* Inizio Teaser */
header .teaser {
  background-image: url(../img/jumbotron.png);
  height: 690px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-color: #fef3ee;
}

header .teaser .container {
  width: 70%;
  padding-top: 50px;
}

header .teaser .container h1 {
  font-size: 50px;
  color: #33475a;
}

header .teaser .container .text {
  margin: 35px 0;
}
/* Fine Teaser */

/* Inizio Divisione */
header .division {
  background-color: #9be6dd;
  border-bottom: 3px solid #33475a;
  border-top: 3px solid #33475a;
  width: 100%;
  height: 83px;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* Fine Divisione */
/* FINE HEADER */

/* MAIN */
/* Inizio Intro */
main .offers {
  background-color: #f5f8fa;
}

main .offers .intro {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
/* Fine Intro */

/* Inizio Services */
main .offers .services .line-services,
main .offers .services .col-services .col {
  background-color: white;
  border: 2px solid #e9eff3;
  border-radius: 2px;
  margin-bottom: 50px;
}

main .offers .services .line-services .col {
  padding: 50px;
}


main .offers .services .line-services .col:first-child {
  width: 30%;
  text-align: center;
  padding-bottom: 80px;
}

main .offers .services .icons {
  height: 150px;
  margin-bottom: 35px;
}

main .offers .services .line-services .col:last-child {
  width: 70%;
}

main .offers .services .line-services .col:last-child hr,
main .offers .services .line-services .col:last-child h4,
main .offers .services .line-services .col:last-child li {
  display: inline-block;
  margin-top: 20px;
}

main .offers .services .line-services .col:last-child hr {
  width: 60%;
  margin-bottom: 5px;
  margin-left: 40px;
}

main .offers .services .line-services .col:last-child i {
  padding-right: 10px;
}

main .offers .services .line-services .col:last-child li {
  padding-right: 10px;
}

/* Inizio Colonne */
main .offers .services .col-services .col {
  width: 30%;
  text-align: center;
  padding: 10px 25px 50px 25px;
}

main .offers .services .col-services .col:nth-child(2) {
  margin: 0 5%;
}

main .offers .services .col-services .col hr {
  width: 80%;
  margin: 50px auto 30px auto;
}

main .offers .services .col-services .col ul {
  text-align: left;
  margin: 40px 0 60px 0;
}
/* Fine Colonne */
/* Fine Services */

/* Inizio Community */
main .community {
  background-color: #01aab7;
  color: white;
  text-align: center;
  padding: 40px 0 100px 0;
}

main .community h2,
main .community p {
  color: white;
}

main .community p {
  margin-bottom: 30px;
}

main .community .col {
  width: 25%;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 30px 0;
}

main .community .col:nth-child(6),
main .community .col:nth-child(10) {
  border-right: 0;
}

main .community .col:nth-child(1n+7) {
  border-bottom: 0;
}

main .community .col p:not(.number) {
  font-size: 12px;
  margin: 0;
}

main .community .col img {
  height: 33px;
}

main .community .col .number {
  margin: 17px 0;
}
/* Fine Community */

/* Inizio Supporters */
/* Partners */
main .supporters .partners {
  padding: 40px 0;
}

main .supporters .partners .col:first-child {
  width: 30%;
  text-align: center;
  padding: 0 20px 40px 20px;
}

main .supporters .partners .col:last-child {
  width: 70%;
  text-align: center;
}

main .supporters .partners .col img {
  display: inline-block;
  width: 20%;
  padding: 0 20px;
}
/* Cta */
main .supporters .cta {
  margin-bottom: 40px;
}

main .supporters .cta .col:first-child {
  width: 40%;
}

main .supporters .cta .col:first-child p {
  margin: 70px 0;
}

main .supporters .cta .col:first-child p:last-child {
  margin-bottom: 0;
}

main .supporters .cta .col:last-child {
  width: 60%;
  text-align: right;
}

main .supporters .cta .col:last-child img {
  height: 400px;
}
/* Fine Supporters */
/* FINE MAIN */

/* FOOTER */
footer {
  background-color: #32495b;
  color: #b4c1ce;
}

footer .container .footer-menus .col {
  width: 25%;
  padding: 30px 0;
}

footer .container li a {
  color: #b4c1ce;
  line-height: 40px;
}

footer .container .footer-menus .col li h5 {
  color: white;
  padding-bottom: 15px;
}

#support-link {
  color: #32495b;
  background-color: white;
  padding: 10px 10px;
  border-radius: 5px;
  line-height: 70px;
}

#support-link:hover {
  color: white;
  background-color: #32495b;
  border: 1px solid white;
}

footer .container .footer-menus .col .social-link li {
  display: inline-block;
  margin-right: 32px;
}

/* Colonna Languages-Menu */
footer .container .languages-menu {
  text-align: center;
  margin-top: 25px;
}

footer .container .languages-menu li {
  display: inline-block;
  padding: 0 10px 10px 10px;
}

/* Colonna Copyrights */
footer .container .copyrights .col {
  width: 50%;
  padding: 40px 0;
}

footer .container .copyrights .col:last-child {
  text-align: right;
}

footer .container .copyrights .col:last-child li {
  display: inline-block;
  padding-left: 20px;
}
/* FINE FOOTER */
