/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* REGOLE GENERALI */
body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 10%;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

.col {
  float: left;
}

.text {
  color: #33475a;
  font-size: 16px;
}

.button {
  background-color: #ff7a59;
  color: white;
  border-radius: 3px;
}
/* FINE REGOLE GENERALI */

/* HEADER */
header nav {
  background-color: #f5f8fa;
  padding: 25px 0;
  border-bottom: 1px solid #33475a;
}

header nav .container .col {
  width: 50%;
}

header nav .container ul li {
  display: inline-block;
  padding: 0 15px;
}

header nav .container .col.col-language ul li:first-child {
  border-right: 1px solid #33475a;
}

header nav .container .col.col-language i {
  color: #33475a;
}

header nav .container .col.col-login {
  text-align: right;
}

header nav .container .col.col-login .fas {
  color: #00a4bd;
}

header nav .container .col.col-login ul li:nth-child(2) a {
  color: #ff7a59;
  background-color: white;
}

header nav .container .col.col-login a.button {
  padding: 7px 10px;
  border: 1px solid #ff7a59;
}

/* FINE HEADER */
